.container {
  background-color: grey;
  color: blueviolet;
  width: 800px;
  height: 500px;
}

.palegreen {
  background-color: palegreen;
  width: 250px;
  height: 250px;
}

.yellow {
  background-color: yellow;
  width: 250px;
  height: 250px;
}

#this-id {
  font-size: 50px;
  background-color: brown;
}

.this-class {
  font-size: 50px;
  background-color: blueviolet;
}

.text {
  background-color: chartreuse !important;
}

p {
  font-size: 50px;
  background-color: cornflowerblue;
}
